body {
    width: 100%;
    height: 100%;
background-color:grey;
}
#slideimage1{
    height: 550px;
}
#slideimage2{
    height: 550px;
}
#slideimage3{
    height: 550px;
}
#slider1 {
    background-color: rgb(58, 129, 153);
    color:white;
    margin-left: 0px;
    margin-right: 0px;
    font-size: 300%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
#slider2 {
    background-color: rgb(58, 129, 153);
    color:white;
    font-size: 300%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
#slider3 {
    background-color: rgb(58, 129, 153);
    color:white;
    font-size: 300%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
#container1{
    padding-left: 0px;
    padding-right: 0px;
    max-width: 100%;
    max-height: 100%;
}
#mencontainer{
    padding-left: 0px;
    padding-right: 0px;
    position: relative;
}
#womencontainer{
    padding-left: 0px;
    padding-right: 0px;
    position: relative;
}
#storecontainer{
    padding-left: 0px;
    padding-right: 0px;
    position: relative;
}

#subscribecontainer{
    padding-left: 0px;
    padding-right: 0px;
    position: relative;
}
.imagesteve{
  opacity: 1;
  display: block;
  max-width: 100%;
  max-height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.text{
    background-color:rgb(58, 129, 153);
    color: white;
    font-size: 40px;
    padding: 20px 40px;
}
.middle{
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%)
}
#mencontainer:hover .imagesteve{
    opacity: 0.5;
}
#mencontainer:hover .middle{
    opacity: 1.0;
}

#womencontainer:hover .imagesteve{
    opacity: 0.5;
}
#womencontainer:hover .middle{
    opacity: 1.0;
}
#storecontainer:hover .imagesteve{
    opacity: 0.5;
}
#storecontainer:hover .middle{
    opacity: 1.0;
}

#subscribecontainer:hover .imagesteve{
    opacity: 0.3;
}
#subscribecontainer:hover .middle{
    opacity: 1.0;
}
/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 100%;
    }
}